.ui_ux_item {
    max-width: 150px;
    width: 100%;
    padding: 10px 20px 10px 10px;
    background-color: #e0e8ff;
    border-radius: 8px;
    margin-bottom: 15px;
    img {
        max-width: 56px;
        width: 100%;
        height: 56px;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #000;
    }
}