.mobile_item {
    max-width: 150px;
    width: 100%;
    background-color: #f4f7ff;
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    img {
        width: 56px;
        height: 56px;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #000;
    }
}

@media only screen and (max-width: 900px) {
    .mobile_item {
        max-width: 160px;
        width: 100%;
        background-color: #f4f7ff;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 8px;
        img {
            width: 42px;
            height: 42px;
        }
    
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .mobile_item {
        max-width: 134px;
        width: 100%;
        background-color: #f4f7ff;
        padding: 8px;
        border-radius: 8px;
        img {
            width: 42px;
            height: 42px;
        }
    
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
}