.wrapper {
  margin-bottom: 24px;
  span {
    display: block;
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: #464359;
    margin-bottom: 32px;
  }
  ul {
    display: flex;
    gap: 48px;
    li {
      max-width: 68px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        max-width: 56px;
        width: 100%;
        height: 56px;
        margin-bottom: 8px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: #000;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    ul {
      display: flex;
      gap: 48px;
      li {
        max-width: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          max-width: 42px;
          width: 100%;
          height: 42px;
          margin-bottom: 8px;
        }
        p {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}
