.mobile {
  padding: 80px 0px;
  .container {
    max-width: 1180px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile_blog {
    h1 {
      max-width: 880px;
      width: 100%;
      font-size: 64px;
      line-height: 64px;
      font-weight: 800;
      color: #1b5bf7;
      margin-bottom: 42.88px;
    }

    .mobile_wrapper {
      display: flex;
      justify-content: space-between;
      .mobile_left {
        max-width: 500px;
        width: 100%;
        .mobile_text {
          font-size: 24px;
          line-height: 40px;
          font-weight: 500;
          color: #464359;
        }
        .mobile_list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 40px 0px;
        }
      }

      .mobile_right {
        background-image: url("../../assets/images/bg.png");
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 8px;

        img {
          max-width: 500px;
          width: 100%;
          height: 472px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1040px) {
  .mobile {
    .mobile_blog {
      .mobile_wrapper {
        .mobile_right {
          background-image: url("../../assets/images/bg.png");
          background-repeat: no-repeat;
          background-position: right;
          border-radius: 8px;

          img {
            max-width: 484px;
            width: 100%;
            height: 458px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .mobile {
    padding: 16px 0px;
    .mobile_blog {
      h1 {
        max-width: 270px;
        width: 100%;
        font-size: 32px;
        line-height: 40px;
        font-weight: 800;
      }
  
      .mobile_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .mobile_left {
          max-width: 500px;
          width: 100%;
          .mobile_text {
            font-size: 16px;
            line-height: 30px;
          }
          .mobile_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 16px 0px;
          }
        }
  
        .mobile_right {
          background-image: url("../../assets/images/bg.png");
          background-repeat: no-repeat;
          background-position: left;
          border-radius: 8px;
  
          img {
            max-width: 500px;
            width: 100%;
            height: 472px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .mobile {
    padding: 16px 0px;
    .mobile_blog {
      h1 {
        max-width: 270px;
        width: 100%;
        font-size: 32px;
        line-height: 40px;
        font-weight: 800;
        margin-bottom: 21.44px;
      }
  
      .mobile_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .mobile_left {
          max-width: 500px;
          width: 100%;
          .mobile_text {
            font-size: 16px;
            line-height: 30px;
          }
          .mobile_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 16px 0px;
          }
        }
  
        .mobile_right {
          background-image: url("../../assets/images/bg.png");
          background-repeat: no-repeat;
          background-position: left;
          border-radius: 8px;
  
          img {
            max-width: 420px;
            width: 100%;
            height: 397px;
          }
        }
      }
    }
  }
}